<h1>Redes Sociales mas usadas</h1>
<hr>

<div *ngIf="doughnutChartData.length === 0; else divGrafica" class="alert alert-info">
  Cragando Data...
</div>

<div class="row">
  <div class="col">

    <ng-template #divGrafica>
      <div style="display: block;">
        <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType"
          [colors]="colors">
        </canvas>
      </div>


<div>
      <span class="float-end text-primary">Información en billones usuarios</span>
</div>
    </ng-template>

  <div>
    <button  (click)="randomize()" class="mt-5 btn btn-primary float-end">Actualizar</button>
    </div>
  </div>
</div>
